#root {
  display: flex;
  justify-content: center;
  // align-items: center;
  min-height: 100vh;
  background-color: gray;
}
.page {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
}
.naming {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.namingColumn {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #ffedbe;
  height: 12%;
  padding: var(--pagePadding);
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: 21% 54% 25%;
  align-items: center;

  .position {
    margin-top: 0.6rem;

    &--secondLine {
      margin-top: 0.1rem;
    }
  }
  .contact {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.3rem;    
  }
}

.main {
  padding: var(--pagePadding);
  padding-top: 1.2rem;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 13.2rem;
  gap: 1.5rem;

  .list {
    margin-left: 1rem;
  }
}

.largerArea {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}