.text {
  font-family: var(--fontMain);
  text-decoration: none;
  line-height: 130%;

  &--header {
    color: black;
  }

  &--name {
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: rgb(235, 235, 235);
    text-underline-offset: 6px;
    text-decoration-thickness: 1.5px;
  }

  &--subname {
    line-height: 100%;
    font-size: 0.8rem;
    // text-transform: uppercase;
    font-weight: 400;
    color: rgb(210, 210, 210);
  }

  &--summary {
    text-align: center;
  }

  &--emphasys {
    font-weight: 500;
  }
  &--position {
    font-size: 1.23rem;
  }

  &--contact {
    font-size: 0.8rem;
  }

  &--icon {
    font-size: 1rem;
    margin-left: 0.3rem;
  }

  &--heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(161, 88, 0);
    // text-align: center;
  }

  &--subheading {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
  }

  &--link {
    color: rgb(0, 115, 192);
  }

  &--paragraph {
    line-height: 1.35rem;
  }

  &--list {
    line-height: 1.45rem;
  }

  &--secondary {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15rem;
  }

  &--nowrap {
    white-space: nowrap;
    display: inline-block;
  }
}
