.text {
  font-family: var(--fontMain);
  text-decoration: none;

  &--header {
    color: black;
  }

  &--name {
    font-size: 1.5rem;
  }

  &--subname {
    font-size: 0.8rem;
    // text-transform: uppercase;
    // font-weight: 500;
    color: rgb(194, 194, 194);
  }

  &--position {
    font-size: 1.23rem;
  }

  &--contact {
    font-size: 0.75rem;
  }

  &--icon {
    font-size: 1rem;
    margin-left: 0.3rem;
  }

  &--heading {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &--subheading {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    position: relative;
  }

  &--paragraph {
    line-height: 1.35rem;
  }

  &--list {
    line-height: 1.45rem;
  }

  &--secondary {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15rem;
  }

  &--nowrap {
    white-space: nowrap;
    display: inline-block;
  }
}
