@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

#root {
  --fontMain: 'Roboto', sans-serif;
  --fontSecond: 'Roboto', sans-serif;
  --pagePadding: 2rem;
}
